body{
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	overflow: hidden;
}
p{
	margin: 100px 0;
	font-size: 40px;
	text-align: center;
}

img{
	width: 800px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}